Repository triplecasquette/plume: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, bash -c 'pnpm type-check'

Rename project from Atome to Plume
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/domain/services/file_service.rs
  src-tauri/tauri.conf.json
Due: prettier --write

Complete project rename and add CeCILL license
  LICENSE.md
  README.md
  package.json
  pnpm-lock.yaml
  src/components/atoms/__tests__/Button.test.tsx
  src/components/organisms/Header.tsx
  src/domain/entities/__tests__/CompressionSettings.test.ts
  src/domain/entities/__tests__/Image.test.ts
  src/domain/services/__tests__/ImageCompressionService.test.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

Update GitHub links and Tauri identifier
  README.md
  src-tauri/tauri.conf.json
Due: prettier --write

Add comprehensive GitHub Actions CI/CD and contribution guidelines
  .github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/feature_request.md
  .github/PULL_REQUEST_TEMPLATE.md
  .github/workflows/ci.yml
  .github/workflows/release.yml
  CONTRIBUTING.md
Due: prettier --write

Fix CI/CD pipeline and add comprehensive test suite
  .github/workflows/ci.yml
  .github/workflows/release.yml
  eslint.config.js
  src-tauri/src/commands/compression_commands.rs
  src-tauri/src/commands/file_commands.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/domain/entities/compression_settings.rs
  src-tauri/src/domain/entities/image.rs
  src-tauri/src/domain/entities/mod.rs
  src-tauri/src/domain/mod.rs
  src-tauri/src/domain/services/compression_service.rs
  src-tauri/src/domain/services/file_service.rs
  src-tauri/src/domain/services/mod.rs
  src-tauri/src/infrastructure/compression/jpeg_compressor.rs
  src-tauri/src/infrastructure/compression/mod.rs
  src-tauri/src/infrastructure/compression/oxipng_compressor.rs
  src-tauri/src/infrastructure/compression/webp_compressor.rs
  src-tauri/src/infrastructure/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src/components/atoms/__tests__/Button.test.tsx
  src/components/molecules/ImageCard.tsx
  src/components/molecules/__tests__/FileUpload.test.tsx
  src/components/organisms/DropZone.tsx
  src/components/organisms/PendingImageList.tsx
  src/components/organisms/UnifiedImageList.tsx
  src/domain/entities/__tests__/CompressionSettings.test.ts
  src/domain/entities/__tests__/Image.test.ts
  src/domain/services/ImageCompressionService.ts
  src/presentation/components/ExampleNewArchitecture.tsx
  src/presentation/hooks/__tests__/useImageManagement.test.ts
  src/presentation/hooks/useImageManagement.ts
  src/test/__mocks__/fileMock.js
  src/test/setup.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

Fix CI/CD pipeline issues
  .github/workflows/ci.yml
  src/App.tsx
  src/domain/entities/Image.ts
  src/domain/entities/__tests__/Image.test.ts
  src/domain/services/ImageCompressionService.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

Fix warnings and test coverage issues
  .husky/pre-commit
  jest.config.js
  src-tauri/Cargo.lock
  src/App.tsx
  src/components/molecules/ImageCard.tsx
  src/components/organisms/DropZone.tsx
  src/components/organisms/UnifiedImageList.tsx
  src/domain/services/ImageCompressionService.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

Fix Husky deprecation warning
  .husky/pre-commit
Due: none

Smooth Progress bar synced to backend
  .husky/pre-commit
  package.json
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/progress.rs
  src-tauri/src/domain/compression/progress.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src/App.tsx
  src/components/debug/StatsDebug.tsx
  src/domain/progress/adaptiveProgress.ts
  src/domain/size-prediction/service.ts
  src/lib/tauri.ts
  src/store/imageStore.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

Warning but errors ok on rust
  package.json
  src-tauri/Cargo.lock
  src-tauri/Cargo.toml
  src-tauri/src/commands/compression.rs
  src-tauri/src/commands/database.rs
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/progress.rs
  src-tauri/src/commands/stats.rs
  src-tauri/src/domain/compression/mod.rs
  src-tauri/src/domain/compression/prediction.rs
  src-tauri/src/domain/compression/progress.rs
  src-tauri/src/domain/compression/store.rs
  src-tauri/src/domain/file/mod.rs
  src-tauri/src/domain/file/path.rs
  src-tauri/src/domain/image/analysis.rs
  src-tauri/src/domain/image/metadata.rs
  src-tauri/src/domain/image/mod.rs
  src-tauri/src/domain/image/processing.rs
  src-tauri/src/domain/shared/events.rs
  src-tauri/src/domain/shared/mod.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
Due: prettier --write

V0.5 Alpha
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/progress.rs
  src-tauri/src/commands/stats.rs
  src-tauri/src/database/connection.rs
  src-tauri/src/database/migrations.rs
  src-tauri/src/domain/compression/mod.rs
  src-tauri/src/domain/compression/progress.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
  src/App.tsx
  src/lib/tauri.ts
Due: eslint --fix, prettier --write, bash -c 'pnpm type-check'

fix: Update release workflow to use modern Tauri action
  .github/workflows/release.yml
Due: none

fix: Apply clippy suggestions for field initialization
  src-tauri/src/domain/shared/config.rs
Due: none

Rust Warning fix. Before release
  .claude/agents/architect.md
  .claude/agents/code-generator.md
  .claude/agents/database-specialist.md
  .claude/agents/devops-specialist.md
  .claude/agents/documentation-writer.md
  .claude/agents/performance-optimizer.md
  .claude/agents/security-specialist.md
  .claude/agents/testing-specialist.md
  .claude/agents/user-documentation-specialist.md
  .claude/agents/web-search-deep.md
  src-tauri/src/commands/mod.rs
  src-tauri/src/commands/progress.rs
  src-tauri/src/database/migrations.rs
  src-tauri/src/domain/compression/progress.rs
  src-tauri/src/lib.rs
  src-tauri/src/main.rs
Due: prettier --write

fix: Add missing Linux dependency for JavaScriptCore
  .github/workflows/release.yml
Due: none

fix: Apply lifetime annotation fix and update roadmap
  ROADMAP.md
  src-tauri/src/domain/shared/mod.rs
Due: prettier --write

fix: Add missing libsoup-3.0-dev dependency for Linux builds
  .claude/CLAUDE.md
  .github/workflows/release.yml
Due: prettier --write

fix: Update to ubuntu-latest and add webkit2gtk-4.1-dev dependency
  .github/workflows/release.yml
Due: none

Path conditions:
  eslint --fix: any of: *.{js,jsx,ts,tsx}
  prettier --write: (any of: *.{js,jsx,ts,tsx}) or (any of: *.{json,css,md})
  bash -c 'pnpm type-check': any of: *.{ts,tsx}
